# Variables

In [ ]:
# Variables
x = 22
print(x)

type(x)

# Case Sensitivity
y = 'Chocolate'
Y = 'Mint Chocolate Chip'

print(Y)

# Statements & Operators

In [ ]:
# IF Statements
price = 75

if price < 10:
    print('The price is ' + str(price) + ' dollars. This is Cheap') #Add the str() after showing how it won't work - or use comma
elif price < 40:
    print('The price is ' + str(price) + ' dollars. This is a not very expensive')
elif price < 100:
    print('The price is ' + str(price) + ' dollars. This is somewhat expensive')
else:
    print('The price is ' + price + ' dollars. This is very expensive!')

In [ ]:
small_sale = []
medium_sale = []
large_sale = []

In [ ]:
sale = 200

In [ ]:
if sale < 20:
    small_sale.append(sale)
elif sale < 50:
    medium_sale.append(sale)
else:
    large_sale.append(sale)

In [ ]:
print('Small Sale: ', small_sale)
print('Medium Sale: ', medium_sale)
print('Large Sale: ', large_sale)

# FOR Loops

In [ ]:
sale_amount = [1,20.70,35.2,50,100,125,70.59,106.21,700]

In [ ]:
small_sale = []
medium_sale = []
large_sale = []

In [ ]:
for sale in sale_amount:
    if sale < 50:
        small_sale.append(sale)
    elif sale < 100:
        medium_sale.append(sale)
    else:
        large_sale.append(sale)

In [ ]:
print('Small Sale: ', small_sale)
print('Medium Sale: ', medium_sale)
print('Large Sale: ', large_sale)

# Functions

In [ ]:
def first_func():
    print('We called our first function!')

In [ ]:
def first_func(name):
    print(name,'did it!')
    
first_func('Alex')

In [ ]:
# Print vs. return
def return_example():
    return 100

return_example()

def print_example():
    print(100)

print_example()

#For this we will get an error
print_example() + 100

#This will give us an output and perform the calculation
return_example() + 100

# Converting Data Types

In [ ]:
num_int = 7
type(num_int)

In [ ]:
num_str = '7'
type(num_str)

In [ ]:
num_str_conv = int(num_str)
type(num_str_conv)

In [ ]:
num_sum = num_int + num_str_conv
print(num_sum)

In [ ]:
type(num_sum)

In [ ]:
list_type = [1,2,3]
type(list_type)

In [ ]:
type(tuple(list_type))

In [ ]:
list_type = [1,2,3,3,2,1,2,3,2,1]

In [ ]:
set(list_type)

In [ ]:
dict_type = {'name': 'Alex','age':28, 'hair': 'N/A'}
type(dict_type)

In [ ]:
dict_type.items()

In [ ]:
dict_type.values()

In [ ]:
dict_type.keys()

In [ ]:
type(list(dict_type.keys()))

In [ ]:
type(list(dict_type.values()))