# Variables

In [1]:
# How to Declare and use a Variable

In [2]:
x = 22

In [3]:
# So the 22 is being stored in memory - not currently being used

In [4]:
print(x)

22

In [ ]:
# It will automatically assign a data type for your variable.

In [7]:
type(x)

int

In [8]:
# Case Sensitivity

In [9]:
y = 'Chocolate'

In [10]:
Y = 'Mint Chocolate Chip'

In [11]:
print(Y)

Mint Chocolate Chip

# Statements & Operators

In [12]:
# IF Statements

In [13]:
price = 75

In [14]:
if price < 10:
    print('The price is ' + str(price) + ' dollars. This is Cheap') #Add the str() after showing how it won't work - or use comma
elif price < 40:
    print('The price is ' + str(price) + ' dollars. This is a not very expensive')
elif price < 100:
    print('The price is ' + str(price) + ' dollars. This is somewhat expensive')
else:
    print('The price is ' + price + ' dollars. This is very expensive!')

The price is 75 dollars. This is somewhat expensive

In [15]:
small_sale = []
medium_sale = []
large_sale = []

In [16]:
sale = 200

In [18]:
if sale < 20:
    small_sale.append(sale)
elif sale < 50:
    medium_sale.append(sale)
else:
    large_sale.append(sale)

In [19]:
print('Small Sale: ', small_sale)
print('Medium Sale: ', medium_sale)
print('Large Sale: ', large_sale)

Small Sale:  []
Medium Sale:  []
Large Sale:  [200, 200]

# FOR Loops

In [1]:
sale_amount = [1,20.70,35.2,50,100,125,70.59,106.21,700]

In [2]:
small_sale = []
medium_sale = []
large_sale = []

In [3]:
for sale in sale_amount:
    if sale < 50:
        small_sale.append(sale)
    elif sale < 100:
        medium_sale.append(sale)
    else:
        large_sale.append(sale)

In [4]:
print('Small Sale: ', small_sale)
print('Medium Sale: ', medium_sale)
print('Large Sale: ', large_sale)

Small Sale:  [1, 20.7, 35.2]
Medium Sale:  [50, 70.59]
Large Sale:  [100, 125, 106.21, 700]

# Functions

In [5]:
def first_func():
    print('We called our first function!')

In [6]:
def first_func(name):
    print(name,'did it!')
    
first_func('Alex')

Alex did it!

In [7]:
# Print vs. return

def return_example():
    return 100

return_example()

def print_example():
    print(100)

print_example()

#For this we will get an error
print_example() + 100

#This will give us an output and perform the calculation
return_example() + 100

100
100

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'